<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Success</title>
 <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<header>
  <div class="logo-container">
    <img src="/static/images/logo.png" alt="Logo">
    <span>TrueU</span>
  </div>
  <nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/settings">Back to Settings</a>
    <a href="/logout">Log Out</a>
  </nav>
</header>

<div class="container">
Profile uploaded successfully! - Update pic file name in settings to set your profile pic 
<img src="/static/images/{{filepath}}" />
</div>
    <script src="/static/main.js" defer></script>
</body>
</html>
