<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrueU Diary - Landing Page</title>
<link rel="stylesheet" href="/static/main.css">

</head>
<body>


  <header>
    <div class="logo-container">
      <img src="static/images/logo.png" alt="Logo">
      <span>TrueU</span>
    </div>
    <nav>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>
  </header>


<div class="container">
    <div class="left-side">
      <div class="box small-box">

      <h1>Welcome to TrueU Diary</h1> <br>   <br>  
      <p>Document your thoughts, emotions, and daily experiences in a safe and private space. </p> <br>  
       <p> Writing helps you reflect, grow, and understand yourself better.</p> <br>  
      <p>Keep track of your moods and memories all in one beautiful and easy-to-use platform.</p> <br>  
      <br>  <br><a href="/login" class="login-button">Login</a>
      </div>
    </div>
   
    </div>
  </div>

  <div class="container">
     <div class="box small-box"> 
    <h2>Why Keep a Diary?</h2>
    <p>Writing regularly improves mental clarity, emotional stability, and overall well-being. </p>  <br>
     <p> Track your growth, set goals, and preserve important life moments.</p> <br>
    <p>Through highs and lows, journaling can be therapeutic. </p>  <br>
     <p> With TrueU, your entries remain secure and private, accessible anytime, anywhere.</p> <br>
    <p>Start today and give your thoughts a home they deserve.</p>  <br>
      </div> 
  <div class="box small-box"> 
  <img src="static/images/back.jpeg" alt="backdrop" width="600">
  </div> 
   <div class="right-side">
      <div class="box small-box">
      <h2>Join Today</h2>
      <p>Create your free account and start your journey!</p>  <br>  <br>
      <a href="/signup" class="signup-button">Sign up</a> <br>  <br>   
      </div>
  </div>
<script src="/static/main.js" defer></script>
</body>
</html>

