<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Success</title>
 <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<header>
  <div class="logo-container">
    <img src="/static/images/logo.png" alt="Logo">
    <span>TrueU</span>
  </div>
  <nav>
    <a href="/">Back to Main Page</a>
  </nav>
</header>

<div class="container">
  <h1>Log Out Successful</h1>
</div>
<script src="/static/main.js" defer></script>
</body>
</html>
